@charset "UTF-8";

:root{
    --cor1: #078C36;
    --cor2: #045A23;/*#165931*/
    --cor3: #6DF2A2;/*#6DF2A2*/
    --cor4: #E8F5E9;/*#A6FFC9*/
    --cor5: #B71C1C;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: grid;
    grid-template-columns: 70px 1fr;
    background-color: rgb(190, 190, 190);
    height: 100vh;
    width: 100vw;
}
.telaModal{
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.377);
    backdrop-filter: blur(3px);
    z-index: 1000;
}
.modalAdicionarAluno{
    display: none;
    width: 1000px;
    padding: 20px;
    border-radius: 15px;
    background-color: rgb(216, 216, 216);
}
.modalAdicionarAluno h1{
    color: var(--cor1);
    text-shadow: 1px 1px 2px black;
    margin-bottom: 15px;
    text-align: center;
}
.modalAdicionarAluno .localDados{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(197, 197, 197);
    gap: 10px;
}
.dado{
    display: flex;
    flex-flow: column nowrap;
    gap: 3px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.dado label{
    font-weight: bold;
    text-align: center;
}
.dado input, .dado select{
    display: inline-block;
    width: 304px;
    height: 35px;
    font-size: 1em;
    padding: 2px;
    border: 2px solid var(--cor1);
    outline: 1px solid var(--cor2);
    border-radius: 5px;
}
.dado input:focus{
    outline: 2px solid var(--cor2);
}
#anaminese{
    height: 35px;
    border: none;
    outline: none;
}
.btnModalAdicionar{
    display: flex;
    justify-content: end;
    margin-top: 20px;
    gap: 10px;
}
.btnModalAdicionar .btnCancelar{
    background-color: rgb(248, 99, 99);
    border: 2px solid red;
    color: white;
    text-shadow: 1px 1px 2px black;
}
.btnModalAdicionar .btnCancelar:hover{
    background-color: rgb(211, 83, 83);
}
.modalAdicionarEmMassa{
    display: none;
    width: 1000px;
    padding: 20px;
    border-radius: 15px;
    background-color: rgb(216, 216, 216);
}
.modalAdicionarEmMassa h1{
    margin-bottom: 20px;
    text-align: center;
    color: var(--cor1);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
textarea{
    border-radius: 10px;
    border: 2px solid var(--cor3);
    padding: 5px;
    font-size: 1em;
}
textarea:focus{
    outline: 2px solid var(--cor1);
}
.btnModalAdicionarMassa{
    display: flex;
    justify-content: end;
    margin-top: 20px;
    gap: 10px;
}
.btnModalAdicionarMassa .btnCancelar{
    background-color: rgb(248, 99, 99);
    border: 2px solid red;
    color: white;
    text-shadow: 1px 1px 2px black;
}
.btnModalAdicionarMassa .btnCancelar:hover{
    background-color: rgb(211, 83, 83);
}
.localMassa{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
}
.localMassa label{
    font-weight: bold;
}
.localMassa textarea{
    height: 300px;
}
.modalExcluirAluno{
    display: none;
    padding: 20px;
    border-radius: 15px;
    width: 1000px;
    background-color: rgb(216, 216, 216);
}
.modalExcluirAluno h1{
    text-align: center;
    color: var(--cor1);
    text-shadow: 1px 1px 2px black;
}
.btnModalExcluirAluno{
    display: flex;
    justify-content: end;
    margin-top: 20px;
    gap: 10px;
}
.btnModalExcluirAluno .btnCancelar{
    background-color: rgb(248, 99, 99);
    border: 2px solid red;
    color: white;
    text-shadow: 1px 1px 2px black;
}
.btnModalExcluirAluno .btnCancelar:hover{
    background-color: rgb(211, 83, 83);
}
.modalVerAluno {
    display: none;
    position: fixed;
    z-index: 999;
    background: white;
    width: 1000px;
    max-height: 80vh;
    overflow-y: auto;

    inset: 0;
    margin: auto;

    padding: 20px;
    border-radius: 10px;
}

.modalVerAluno h1 {
    text-align: center;
    margin-bottom: 20px;
}
.modalVerAluno strong{
    font-size: 2em;
}
.modalVerAluno p {
    margin: 5px;
    font-size: 1em;
}
.barraLateral{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    background-color: rgb(207, 207, 207);
}
.barraLateral #config{
    margin-top: auto;
}
.todoConteudo{
    display: flex;
    flex-flow: column nowrap;
    background-color: white;
}
.barraLateral a{
    color:var(--cor1);
    font-size: 2em;
    margin: 15px 0px 15px 0px;
    z-index: 20;
    display: flex;
    aspect-ratio: 1/1;
    background-color: rgb(207, 207, 207);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 75%;
    text-decoration: none;
}
.barraLateral a:hover{
    background-color: var(--cor1);
    color: white;
    cursor: pointer;
}
#clicado{
    background-color: var(--cor1);
    color: white;
    cursor: pointer;
}
header{
    display: flex;
    align-items: center;
    padding: 30px;
    height: 100px;
    width: 100%;
    background: linear-gradient(to left, var(--cor3), var(--cor1));
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.459);
    border-radius: 0px 0px 15px 15px;
    z-index: 10;
}
header h1{
    color: white;
    text-shadow: 1px 1px 2px black;
}
main{
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: rgb(233, 233, 233);
}
.botoes{
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
}
button{
    background-color: var(--cor3);
    padding: 10px;
    border: 2px solid var(--cor1);
    border-radius: 15px;
    color: rgb(54, 54, 54);
    font-weight: bold;
    font-size: 0.9em;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.397);
    cursor: pointer;
}
button:hover{
    background-color: #64db94;
}

h2{
    color: var(--cor1);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.418);
    margin: 0px;
}
.listaAlunos{
    width: 100%;
    border-radius: 15px;
    background-color: rgb(204, 204, 204);
}
.filtro{
    width: 100%;
    height: 40px;
    background-color: rgb(167, 167, 167);
    border-radius: 15px 15px 0px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}
.filtro span{
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filtro i{
    font-size: .6em;
}
#pesquisa{
    background-color: rgb(167, 167, 167);
    border: none;
    height: 25px;
    border-bottom: 2px solid rgb(145, 143, 143);
    width: 150px;
    font-size: 0.7em;
}
#pesquisa:focus{
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(121, 121, 121);
}
.alunoLista{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 10px;
    background-color: rgb(223, 222, 222);
    justify-items: center;
    align-items: center;
    border: 1px solid rgb(155, 155, 155);
}
.alunoLista i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
.btns{
    display: flex;
    gap: 5px;
    flex-flow: row nowrap;
}
.btns button{
    box-shadow: 0px 0px 0px;
    border: 1px solid black;
    font-size: 0.8em;
    color: black;
    padding: 7px;
    border-radius: 10px;
}
.excluir{
    background-color: rgb(248, 99, 99);
    border: 2px solid red;
    color: white;
}
.excluir:hover{
    background-color: rgb(211, 83, 83);
}
span{
    font-size: 2em;
}
footer{
    color: white;
    background-color: var(--cor1);
    padding: 5px;
    text-align: center;
}

