@charset "UTF-8";

:root{
    --cor1: #078C36;
    --cor2: #045A23;/*#165931*/
    --cor3: #6DF2A2;/*#6DF2A2*/
    --cor4: #E8F5E9;/*#A6FFC9*/
    --cor5: #B71C1C;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: grid;
    grid-template-columns: 70px 1fr;
    background-color: rgb(190, 190, 190);
    height: 100vh;
    width: 100vw;
}
.barraLateral{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    background-color: rgb(207, 207, 207);
}
.barraLateral #config{
    margin-top: auto;
}
.todoConteudo{
    display: flex;
    flex-flow: column nowrap;
    background-color: white;
}
.barraLateral a{
    color:var(--cor1);
    font-size: 2em;
    margin: 15px 0px 15px 0px;
    z-index: 20;
    display: flex;
    aspect-ratio: 1/1;
    background-color: rgb(207, 207, 207);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 75%;
    text-decoration: none;
}
.barraLateral a:hover{
    background-color: var(--cor1);
    color: white;
    cursor: pointer;
}
#clicado{
    background-color: var(--cor1);
    color: white;
    cursor: pointer;
}
header{
    display: flex;
    align-items: center;
    padding: 30px;
    height: 100px;
    width: 100%;
    background: linear-gradient(to left, var(--cor3), var(--cor1));
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.459);
    border-radius: 0px 0px 15px 15px;
    z-index: 10;
}
header h1{
    color: white;
    text-shadow: 1px 1px 2px black;
}
main{
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: rgb(233, 233, 233);
}
.botoes{
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
}
button{
    background-color: var(--cor3);
    padding: 10px;
    border: 2px solid var(--cor1);
    border-radius: 15px;
    color: rgb(54, 54, 54);
    font-weight: bold;
    font-size: 0.9em;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.397);
    cursor: pointer;
}
button:hover{
    background-color: #64db94;
}

h2{
    color: var(--cor1);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.418);
    margin: 0px;
}
.listaAlunos{
    width: 100%;
    border-radius: 15px;
    background-color: rgb(204, 204, 204);
}
.filtro{
    width: 100%;
    height: 40px;
    background-color: rgb(167, 167, 167);
    border-radius: 15px 15px 0px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}
.filtro i{
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.alunoLista{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 10px;
    background-color: rgb(223, 222, 222);
    justify-items: center;
    align-items: center;
}
.alunoLista i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btns{
    display: flex;
    gap: 5px;
    flex-flow: row nowrap;
}
.btns button{
    box-shadow: 0px 0px 0px;
    border: 1px solid black;
    font-size: 0.8em;
    color: black;
    padding: 7px;
    border-radius: 10px;
}
.excluir{
    background-color: rgb(248, 99, 99);
    border: 2px solid red;
    color: white;
}
.excluir:hover{
    background-color: rgb(211, 83, 83);
}
span{
    font-size: 2em;
}
footer{
    color: white;
    background-color: var(--cor1);
    padding: 5px;
    text-align: center;
}

